
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.container {
  width: 100%;
  margin: 0px auto;
}

/*************** Пагинация styles *****************/
.swiper-pagination {
    top:20px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
}
.swiper-pagination-bullet {
    /* width: 8px; */
    /* height: 8px; */
    background-color:beige;
    background-color: #fff;
}
/***********************************/
.swiper-container{
  position: relative;
}
 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */ 
     .swiper-button-next{
      position: absolute;
      right: 50%;
      right: 0%;
      transform: translateY(-50%);
      background-image: url('/img/next.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      padding-left: 10px;
      padding-right: 10px;
    }
   .swiper-button-prev{
      position: absolute;
      right: 50%;
      left: 0%;
      transform: translateY(-50%);
      background-image: url('/img/previous.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
    }  
    
  .swiper-button-next::after{
    display: none;
  }
   .swiper-button-prev::after{
    display: none;
  }
    
  .swiper-button-next, 
  .swiper-button-prev {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 15px 15px;
    color: white;
     -webkit-user-select: none;
    user-select: none;
    --swiper-navigation-size: 25px;
    --swiper-navigation-size: 25px;
    opacity: 0.2;
    
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover{
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8;
    transition: all 50ms linear 50ms ; 
   ;
  }
    /* Position the "next button" to the right */
  .swiper-button-prev,.swiper-button-next {
    width: 5px;
    height: 5px;
    border-radius: 3px 0 0 3px;
  }
  
  .swiper-pagination-fraction{
    font-size: 20px;
    color: #fff;
  }
  /* .swiper-scrollbar-drag{
    cursor: pointer;
    background-color: #308103;
    top: 15px;
    position: relative;
    color: bisque;
    
  } */
  /* .swiper-horizontal>.swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal{
        position: absolute;
        left: 1%;
        bottom: 100px;
        z-index: 50;
        height: -450px;
        width: 100%;
        opacity: 1;
  }
  .swiper-horizontal>.swiper-scrollbar,
   .swiper-scrollbar.swiper-scrollbar-horizontal:active{
    cursor: pointer;
      opacity: .5;
      transition: opacity .3s ease-in-out;
   } */


.swiper-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.swiper-slide img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height:auto;
  object-fit:contain;
  border-radius: 20px;
}
.swipe-navigation{
  font-family: cursive;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


@media screen and (max-width: 320px),
(max-width:480px) {
  .container {
    width: 100%;
  }
    .swiper-slide img {
      display: block;
      margin: 0 auto;
      width: 94%;
      height: auto;
      object-fit:contain;
      border-radius: 15px;
    }


    /* Next & previous buttons */ 
      .swiper-button-next{
      position: absolute;
      top: 94%; 
      right: 91%;
      transform: translateY(-50%); 
      background-image: url('/img/previous.svg');
      background-repeat: no-repeat;
      background-size:cover;
      background-position:center;
      padding: 5px 5px;
      
    }
   .swiper-button-prev{
      position: absolute;
      top: 94%;
      left: 91%;
      transform: translateY(-50%);
      background-image: url('/img/next.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
    }   
    .swiper-pagination { 
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 14px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 700;
    }
    @media (max-width:320px){
      
      .swiper-button-next {
          position: absolute;
          top: 93%;
          right: 88%;
          transform: translateY(-50%);
      }
     .swiper-button-prev {
          position: absolute;
          top: 93%;
          left: 88%;
          transform: translateY(-50%);
      }
    }

    .swiper-pagination 
    .swiper-pagination-fraction 
    .swiper-pagination-horizontal{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%,-50);
    }

    .swiper-button-next, 
    .swiper-button-prev {
      cursor: pointer;
      padding: 10px 10px;
      
    }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .swiper-slide img {
    display: block;
    margin: 0 auto;
    width: 94%;
    height: auto;
    object-fit:contain;
    border-radius: 15px;
  }
    /* Next & previous buttons */ 
    .swiper-button-next{
      position: absolute;
      top: 104%; 
      right: 92%;
      transform: translateY(-50%); 
      background-image: url('/img/previous.svg');
      background-repeat: no-repeat;
      background-size:cover;
      background-position:center;
      
    }

   .swiper-button-prev{
      position: absolute;
      top: 104%;
      left: 92%;
      transform: translateY(-50%);
      background-image: url('/img/next.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
    }   
    .swiper-pagination{ 
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 16px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 700;
    }

  
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .swiper-slide img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    object-fit:contain;
    border-radius: 15px;
  }

  .swiper-pagination{ 
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
  }
  .swiper-button-next, 
  .swiper-button-prev {
   
    cursor: pointer;
    padding: 16px 16px;
    
  }

}

/* @media screen and (max-width:320px),
(max-width:480px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .swiper-button-next{
      right: 50%;
      right: 300px;
      transform: translateY(-50%);
    }
    .swiper-button-prev{
      right: 50%;
      left: 300px;
      transform: translateY(-50%);
    }
}

@media screen and (min-width: 768px) {
.container {
   max-width: 100%;
   margin: 0 auto;
   }
   

}

@media screen and (min-width:1200px) {
   .container {
       max-width: 100%;    
       margin: 0 auto;
   }

} */