
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.container {
  width: 100%;
  margin: 0px auto;

}

/*************** Пагинация styles *****************/
.swiper-pagination {
    top:20px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
}
.swiper-pagination-bullet {
    /* width: 8px; */
    /* height: 8px; */
    background-color:beige;
    background-color: #fff;
}
/***********************************/
.swiper-container{
  position: relative;
}
 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */ 
     .swiper-button-next{
      position: absolute;
      right: 50%;
      right: 100%;
      transform: translateY(-50%);
      background-image: url('/img/next.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
    }

   .swiper-button-prev{
      position: absolute;
      right: 50%;
      left: 100%;
      transform: translateY(-50%);
      background-image: url('/img/previous.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
    }  
    
  .swiper-button-next::after{
    display: none;
  }
   .swiper-button-prev::after{
    display: none;
  }
    
  .swiper-button-next, 
  .swiper-button-prev {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 16px;
    color: white;
    font-weight:40px;
    font-size: 5px;
    -webkit-user-select: none;
    user-select: none;
    --swiper-navigation-size: 25px;
    --swiper-navigation-size: 25px;
    opacity: 0.5;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover{
    background-color:transparent;
    cursor: pointer;
    opacity: 0.8;
   ;
  }
    /* Position the "next button" to the right */
  .swiper-button-prev,.swiper-button-next {
    width: 5px;
    height: 5px;
    border-radius: 3px 0 0 3px;
  }
  
  .swiper-pagination-fraction{
    font-size: 20px;
    color: #fff;

  }.swiper-scrollbar-drag{
    cursor: pointer;
    background-color: #7a956b;
    top:40px;
    position: relative;
    display: none;
  }
  /* .swiper-horizontal>.swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal{
        position: absolute;
        left: 1%;
        bottom: 100px;
        z-index: 50;
        height: -300px;
        width: 100%;
        opacity: 1;
  }
  .swiper-horizontal>.swiper-scrollbar,
   .swiper-scrollbar.swiper-scrollbar-horizontal:active{
    cursor: pointer;
      opacity: .5;
      transition: opacity .3s ease-in-out;
   } */


.swiper-container{
    padding: 30px 0px 20px 0px;
}
.swiper-slide img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
}



@media screen and (max-width: 320px),
(max-width:480px) {
  .container {
    width: 100%;
  }
    .swiper-slide img {
      display: block;
      margin: 0 auto;
      width: 94%;
      height: auto;
      object-fit:contain;
      border-radius: 10px;
    }


    /* Next & previous buttons */ 
     .swiper-button-next{
      position: absolute;
      top: 84%; 
      right: 85%;
      transform: translateY(-50%); 
      background-image: url('/img/previous.svg');
      background-repeat: no-repeat;
      background-size:cover;
      background-position:center;
      
    }


   .swiper-button-prev{
      position: absolute;
      top: 84%;
      left: 85%;
      transform: translateY(-50%);
      background-image: url('/img/next.svg') ;
      
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
    }  
    @media (max-width:320px){
      
      .swiper-button-next {
          /* position: absolute; */
          top: 60%;
          right: 85%;
          transform: translateY(-50%);
      }
     .swiper-button-prev {
          /* position: absolute; */
          top: 60%;
          left: 85%;
          transform: translateY(-50%);
      }
    }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
        .swiper-horizontal>.swiper-scrollbar,
        .swiper-scrollbar.swiper-scrollbar-horizontal {
          
          height: -300px;
          width: 100%;
          opacity: 1;
        }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* @media screen and (max-width:320px),
(max-width:480px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .swiper-button-next{
      right: 50%;
      right: 300px;
      transform: translateY(-50%);
    }
    .swiper-button-prev{
      right: 50%;
      left: 300px;
      transform: translateY(-50%);
    }
}

@media screen and (min-width: 768px) {
.container {
   max-width: 100%;
   margin: 0 auto;
   }
   

}

@media screen and (min-width:1200px) {
   .container {
       max-width: 100%;    
       margin: 0 auto;
   }

} */