
body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(25,25,29,1) 31%, rgba(120,120,185,1) 62%, rgba(0,212,255,1) 100%);
    height: 100%;
    background-attachment: fixed;
}
.swiper-wrapper{
    padding: 30px 0 20px 0px;
}
.swiper-container{
    width: 70%;
    height: auto;  
    margin: 0px auto;
}

.swiper-slide img {
    display: block;
    /* margin: 0px auto; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }



  .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, 
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    position: absolute;
    top:33%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 0 5px 0px;
  }
  .swiper-button-prev {
    width: 10px; 
    height: 10px;
    padding: 10px;
    opacity: 0.5;

}

.swiper-button-next {
    padding: 10px;
    width: 5px;
    height: 5px;
    opacity: 0.3;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    cursor: pointer;
    opacity: 0.9;
    color: rgb(7, 241, 151);   
}

